@model WebApp.UI.ViewModels.SizeViewModels.SizeDetailsViewModel
@using WebApp.UI.Controllers

@{
    ViewBag.Title = "Размер. Подробная информация";
}

<div class="row">
    <div class="col-md-12">
        <h4>Размер <small>Подробная информация</small></h4>
        <hr />

        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Размеры", nameof(SizesController.Index))
            </li>
            <li class="active">
                @Model.Name
            </li>
        </ol>      

        <div class="form-horizontal">

            <div class="form-group">
                @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

        </div>
    </div>
</div>