@model WebApp.UI.ViewModels.OrderViewModels.EditOrderViewModel
@using WebApp.UI.Controllers

@{
    ViewBag.Title = "Заказ. Редактирование";
}

<div class="row">
    <div class="col-md-12">
        <h4>Заказ <small>Редактирование</small></h4>
        <hr />

        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Заказы", nameof(OrdersController.Index))
            </li>
            <li>
                @Html.ActionLink(Model.Name, nameof(OrdersController.Details), new { id = Model.Id })
            </li>
            <li class="active">Редактирование</li>
        </ol>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CustomerId, Model.AvailableCustomers, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderProducts, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>
                    @Html.ActionLink("Добавить", nameof(OrdersController.AddProductToOrder), new { id = Model.Id })
                </p>
                <table class="table table-condensed table-bordered">
                    @if (Model.OrderProducts.Any())
                    {
                        <tr class="active">
                            <th>Наименование</th>
                            <th>Цена</th>
                            <th></th>
                        </tr>

                        foreach (var orderProduct in Model.OrderProducts)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => orderProduct.Product.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => orderProduct.Price)
                                </td>
                                <td>
                                    @Html.ActionLink("Удалить", nameof(OrdersController.DeleteProductFromOrder),
                                        new { orderId = Model.Id, productId = orderProduct.Product.Id })
                                </td>
                            </tr>
                        }

                        <tr class="active">
                            <th colspan="3">
                                Всего: @Model.OrderProducts.Count()
                            </th>
                        </tr>
                    }
                    else
                    {
                        <tr class="active">
                            <th>Наименование</th>
                            <th>Цена</th>
                        </tr>
                        <tr class="active">
                            <td colspan="2">Нет продукции</td>
                        </tr>
                    }
                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

