@model WebApp.UI.ViewModels.ReportViewModels.MaterialsReportViewModel
@using WebApp.UI.Models
@using WebApp.UI.Controllers

<div class="row">
    <div class="col-md-12">
        <div class="form-horizontal">

            <div class="form-group">
                @Html.LabelFor(model => model.SelectedMaterialId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @Model.Materials[Model.SelectedMaterialId]
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            @foreach (var material in Model.Materials)
                            {
                                <li>
                                    <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#materials"
                                       href="@Url.Action(nameof(MaterialsReportController._Materials), new { materialId = material.Key })">
                                        @material.Value
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            @if (Model.SelectedMaterialId == 0)
            {
                <div class="form-group">
                    @Html.Label("Материалы", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @if (Model.OrderProductMaterials.Any())
                        {
                            var materials = Model.OrderProductMaterials.GroupBy(opm => opm.MaterialId);

                            if (materials.Any())
                            {
                                var materialIndex = 0;

                                foreach (var material in materials)
                                {
                                    materialIndex++;

                                    <table class="table table-condensed table-bordered">
                                        <tr class="active">
                                            <th>
                                                @materialIndex. @Model.Materials[material.Key]
                                            </th>
                                        </tr>
                                    </table>

                                    <div class="form-group">
                                        @Html.Label("Заказы", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">

                                            @{
                                                var orders = material.GroupBy(m => m.OrderId);

                                                if (orders.Any())
                                                {
                                                    var orderIndex = 0;

                                                    foreach (var order in orders)
                                                    {
                                                        orderIndex++;

                                                        <table class="table table-condensed table-bordered">
                                                            <tr class="active">
                                                                <th>
                                                                    @orderIndex. @Model.Orders[order.Key]
                                                                </th>
                                                            </tr>
                                                        </table>

                                                        <div class="form-group">
                                                            @Html.Label("Продукция", htmlAttributes: new { @class = "control-label col-md-2" })
                                                            <div class="col-md-10">

                                                                @{
                                                                    var products = order.GroupBy(o => o.ProductId);

                                                                    <table class="table table-condensed table-bordered">
                                                                        <tr class="active">
                                                                            <th rowspan="2">Наименование</th>
                                                                            <th colspan="4">Материал</th>
                                                                        </tr>
                                                                        <tr class="active">
                                                                            <th>Норма расхода</th>
                                                                            <th>Расход</th>
                                                                            <th>Цена</th>
                                                                            <th>Сумма</th>
                                                                        </tr>

                                                                        @if (products.Any())
                                                                        {
                                                                            foreach (var product in products)
                                                                            {
                                                                                var orderProductMaterial = Model.OrderProductMaterials
                                                                                    .Single(opm => opm.OrderId == order.Key
                                                                                    && opm.ProductId == product.Key
                                                                                    && opm.MaterialId == material.Key);

                                                                                var orderProductQuantity = orderProductMaterial.OrderProduct.OrderProductAddresses
                                                                                    .SelectMany(opa => opa.OrderProductAddressSizes)
                                                                                    .Sum(opas => opas.Quantity);

                                                                                var orderProductMaterialQuantity = orderProductQuantity * orderProductMaterial.Rate;
                                                                                var orderProductMaterialPrice = (decimal)(orderProductQuantity * orderProductMaterial.Rate) * orderProductMaterial.Price;

                                                                                <tr>
                                                                                    <td>
                                                                                        @Model.Products[product.Key]
                                                                                    </td>
                                                                                    <td>
                                                                                        @Html.DisplayFor(modelItem => orderProductMaterial.Rate)
                                                                                    </td>
                                                                                    <td>
                                                                                        @orderProductMaterialQuantity
                                                                                    </td>
                                                                                    <td>
                                                                                        @Html.DisplayFor(modelItem => orderProductMaterial.Price)
                                                                                    </td>
                                                                                    <td>
                                                                                        @orderProductMaterialPrice
                                                                                    </td>
                                                                                </tr>
                                                                            }

                                                                            <tr class="active">
                                                                                <th>
                                                                                    Всего: @products.Count()
                                                                                </th>
                                                                                <th></th>
                                                                                <th>
                                                                                    @products.Sum(p => p.Sum(opm => opm.OrderProduct.OrderProductAddresses
                                                                                        .SelectMany(opa => opa.OrderProductAddressSizes)
                                                                                        .Sum(opas => opas.Quantity) * opm.Rate))
                                                                                </th>
                                                                                <th></th>
                                                                                <th>
                                                                                    @products.Sum(p => p.Sum(opm => (decimal)(opm.OrderProduct.OrderProductAddresses
                                                                                        .SelectMany(opa => opa.OrderProductAddressSizes)
                                                                                        .Sum(opas => opas.Quantity) * opm.Rate) * opm.Price))
                                                                                </th>
                                                                            </tr>
                                                                        }
                                                                        else
                                                                        {
                                                                            <tr class="active">
                                                                                <td colspan="5">Нет продукции</td>
                                                                            </tr>
                                                                        }

                                                                    </table>
                                                                }

                                                            </div>
                                                        </div>
                                                    }

                                                    <table class="table table-condensed table-bordered">
                                                        <tr class="active">
                                                            <th>Всего</th>
                                                        </tr>
                                                    </table>

                                                    <div class="form-group">
                                                        @Html.Label("Продукция", htmlAttributes: new { @class = "control-label col-md-2" })
                                                        <div class="col-md-10">

                                                            @{
                                                                var orderProductMaterials = material.GroupBy(opm => opm.ProductId);

                                                                <table class="table table-condensed table-bordered">
                                                                    <tr class="active">
                                                                        <th rowspan="2">Наименование</th>
                                                                        <th colspan="2">Материал</th>
                                                                    </tr>
                                                                    <tr class="active">
                                                                        <th>Расход</th>
                                                                        <th>Сумма</th>
                                                                    </tr>

                                                                    @if (orderProductMaterials.Any())
                                                                    {
                                                                        foreach (var orderProductMaterial in orderProductMaterials)
                                                                        {
                                                                            <tr>
                                                                                <td>
                                                                                    @Model.Products[orderProductMaterial.Key]
                                                                                </td>
                                                                                <td>
                                                                                    @orderProductMaterial.Sum(opm => opm.OrderProduct.OrderProductAddresses
                                                                                        .SelectMany(opa => opa.OrderProductAddressSizes)
                                                                                        .Sum(opas => opas.Quantity) * opm.Rate)
                                                                                </td>
                                                                                <td>
                                                                                    @orderProductMaterial.Sum(opm => (decimal)(opm.OrderProduct.OrderProductAddresses
                                                                                        .SelectMany(opa => opa.OrderProductAddressSizes)
                                                                                        .Sum(opas => opas.Quantity) * opm.Rate) * opm.Price)
                                                                                </td>
                                                                            </tr>
                                                                        }

                                                                        <tr class="active">
                                                                            <th>
                                                                                Всего: @orderProductMaterials.Count()
                                                                            </th>
                                                                            <th>
                                                                                @orderProductMaterials.Sum(p => p.Sum(opm => opm.OrderProduct.OrderProductAddresses
                                                                                    .SelectMany(opa => opa.OrderProductAddressSizes)
                                                                                    .Sum(opas => opas.Quantity) * opm.Rate))
                                                                            </th>
                                                                            <th>
                                                                                @orderProductMaterials.Sum(p => p.Sum(opm => (decimal)(opm.OrderProduct.OrderProductAddresses
                                                                                    .SelectMany(opa => opa.OrderProductAddressSizes)
                                                                                    .Sum(opas => opas.Quantity) * opm.Rate) * opm.Price))
                                                                            </th>
                                                                        </tr>
                                                                    }
                                                                    else
                                                                    {
                                                                        <tr class="active">
                                                                            <th>Наименование</th>
                                                                            <th>Расход</th>
                                                                            <th>Сумма</th>
                                                                        </tr>
                                                                        <tr class="active">
                                                                            <td colspan="2">Нет материалов</td>
                                                                        </tr>
                                                                    }

                                                                </table>
                                                            }

                                                        </div>
                                                    </div>
                                                }
                                            }

                                        </div>
                                    </div>
                                }
                            }
                        }
                        else
                        {
                            <table class="table table-condensed table-bordered">
                                <tr class="active">
                                    <td>Нет материалов</td>
                                </tr>
                            </table>
                        }

                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    @Html.Label("Заказы", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @if (Model.OrderProductMaterials.Any())
                        {
                            var orders = Model.OrderProductMaterials.GroupBy(opm => opm.OrderId);

                            if (orders.Any())
                            {
                                var orderIndex = 0;

                                foreach (var order in orders)
                                {
                                    orderIndex++;

                                    <table class="table table-condensed table-bordered">
                                        <tr class="active">
                                            <th>
                                                @orderIndex. @Model.Orders[order.Key]
                                            </th>
                                        </tr>
                                    </table>

                                    <div class="form-group">
                                        @Html.Label("Продукция", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">

                                            @{
                                                var products = order.GroupBy(o => o.ProductId);

                                                <table class="table table-condensed table-bordered">
                                                    <tr class="active">
                                                        <th rowspan="2">Наименование</th>
                                                        <th colspan="4">Материал</th>
                                                    </tr>
                                                    <tr class="active">
                                                        <th>Норма расхода</th>
                                                        <th>Расход</th>
                                                        <th>Цена</th>
                                                        <th>Сумма</th>
                                                    </tr>

                                                    @if (products.Any())
                                                    {
                                                        foreach (var product in products)
                                                        {
                                                            var orderProductMaterial = Model.OrderProductMaterials
                                                                .Single(opm => opm.OrderId == order.Key
                                                                && opm.ProductId == product.Key
                                                                && opm.MaterialId == Model.SelectedMaterialId);

                                                            var orderProductQuantity = orderProductMaterial.OrderProduct.OrderProductAddresses
                                                                .SelectMany(opa => opa.OrderProductAddressSizes)
                                                                .Sum(opas => opas.Quantity);

                                                            var orderProductMaterialQuantity = orderProductQuantity * orderProductMaterial.Rate;
                                                            var orderProductMaterialPrice = (decimal)(orderProductQuantity * orderProductMaterial.Rate) * orderProductMaterial.Price;

                                                            <tr>
                                                                <td>
                                                                    @Model.Products[product.Key]
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => orderProductMaterial.Rate)
                                                                </td>
                                                                <td>
                                                                    @orderProductMaterialQuantity
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => orderProductMaterial.Price)
                                                                </td>
                                                                <td>
                                                                    @orderProductMaterialPrice
                                                                </td>
                                                            </tr>
                                                        }

                                                        <tr class="active">
                                                            <th>
                                                                Всего: @products.Count()
                                                            </th>
                                                            <th></th>
                                                            <th>
                                                                @products.Sum(p => p.Sum(opm => opm.OrderProduct.OrderProductAddresses
                                                                    .SelectMany(opa => opa.OrderProductAddressSizes)
                                                                    .Sum(opas => opas.Quantity) * opm.Rate))
                                                            </th>
                                                            <th></th>
                                                            <th>
                                                                @products.Sum(p => p.Sum(opm => (decimal)(opm.OrderProduct.OrderProductAddresses
                                                                    .SelectMany(opa => opa.OrderProductAddressSizes)
                                                                    .Sum(opas => opas.Quantity) * opm.Rate) * opm.Price))
                                                            </th>
                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        <tr class="active">
                                                            <td colspan="5">Нет продукции</td>
                                                        </tr>
                                                    }

                                                </table>
                                            }

                                        </div>
                                    </div>
                                }

                                <table class="table table-condensed table-bordered">
                                    <tr class="active">
                                        <th>Всего</th>
                                    </tr>
                                </table>

                                <div class="form-group">
                                    @Html.Label("Продукция", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">

                                        @{
                                            var orderProductMaterials = Model.OrderProductMaterials.GroupBy(opm => opm.ProductId);

                                            <table class="table table-condensed table-bordered">
                                                <tr class="active">
                                                    <th rowspan="2">Наименование</th>
                                                    <th colspan="2">Материал</th>
                                                </tr>
                                                <tr class="active">
                                                    <th>Расход</th>
                                                    <th>Сумма</th>
                                                </tr>

                                                @if (orderProductMaterials.Any())
                                                {
                                                    foreach (var orderProductMaterial in orderProductMaterials)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Model.Products[orderProductMaterial.Key]
                                                            </td>
                                                            <td>
                                                                @orderProductMaterial.Sum(opm => opm.OrderProduct.OrderProductAddresses
                                                                    .SelectMany(opa => opa.OrderProductAddressSizes)
                                                                    .Sum(opas => opas.Quantity) * opm.Rate)
                                                            </td>
                                                            <td>
                                                                @orderProductMaterial.Sum(opm => (decimal)(opm.OrderProduct.OrderProductAddresses
                                                                    .SelectMany(opa => opa.OrderProductAddressSizes)
                                                                    .Sum(opas => opas.Quantity) * opm.Rate) * opm.Price)
                                                            </td>
                                                        </tr>
                                                    }

                                                    <tr class="active">
                                                        <th>
                                                            Всего: @orderProductMaterials.Count()
                                                        </th>
                                                        <th>
                                                            @orderProductMaterials.Sum(p => p.Sum(opm => opm.OrderProduct.OrderProductAddresses
                                                                .SelectMany(opa => opa.OrderProductAddressSizes)
                                                                .Sum(opas => opas.Quantity) * opm.Rate))
                                                        </th>
                                                        <th>
                                                            @orderProductMaterials.Sum(p => p.Sum(opm => (decimal)(opm.OrderProduct.OrderProductAddresses
                                                                .SelectMany(opa => opa.OrderProductAddressSizes)
                                                                .Sum(opas => opas.Quantity) * opm.Rate) * opm.Price))
                                                        </th>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr class="active">
                                                        <th>Наименование</th>
                                                        <th>Расход</th>
                                                        <th>Сумма</th>
                                                    </tr>
                                                    <tr class="active">
                                                        <td colspan="2">Нет материалов</td>
                                                    </tr>
                                                }

                                            </table>
                                        }

                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <table class="table table-condensed table-bordered">
                                <tr class="active">
                                    <td>Нет заказов</td>
                                </tr>
                            </table>
                        }

                    </div>
                </div>
            }

        </div>
    </div>
</div>
