@model WebApp.UI.ViewModels.OrderProductAddressProductionDateSizeViewModels.OrderProductAddressProductionDateSizeViewModel
@using WebApp.UI.Controllers

@{
    ViewBag.Title = "Размерные данные готовой продукции грузополучателя заказа. Подробная информация";
}

<div class="row">
    <div class="col-md-12">
        <h4>Размерные данные готовой продукции грузополучателя заказа <small>Подробная информация</small></h4>
        <hr />

        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Заказы", nameof(OrdersController.Index),
                    nameof(OrdersController).Replace("Controller", ""))
            </li>
            <li>
                @Html.ActionLink(Model.OrderProductAddressProductionDate.OrderProductAddress.OrderProduct.Order.Name,
                    nameof(OrdersController.Details),
                    nameof(OrdersController).Replace("Controller", ""),
                    new { id = Model.OrderProductAddressProductionDate.OrderProductAddress.OrderProduct.Order.Id },
                    null)
            </li>
            <li>
                @Html.ActionLink(Model.OrderProductAddressProductionDate.OrderProductAddress.OrderProduct.Product.Name,
                    nameof(OrderProductsController.Details),
                    nameof(OrderProductsController).Replace("Controller", ""),
                    new
                    {
                        orderId = Model.OrderProductAddressProductionDate.OrderProductAddress.OrderProduct.Order.Id,
                        productId = Model.OrderProductAddressProductionDate.OrderProductAddress.OrderProduct.Product.Id
                    },
                    null)
            </li>
            <li>
                @Html.ActionLink(Model.OrderProductAddressProductionDate.OrderProductAddress.Address.Name,
                    nameof(OrderProductAddressesController.Details),
                    nameof(OrderProductAddressesController).Replace("Controller", ""),
                    new
                    {
                        orderId = Model.OrderProductAddressProductionDate.OrderProductAddress.OrderProduct.Order.Id,
                        productId = Model.OrderProductAddressProductionDate.OrderProductAddress.OrderProduct.Product.Id,
                        addressId = Model.OrderProductAddressProductionDate.OrderProductAddress.Address.Id
                    },
                    null)
            </li>
            <li>
                @Html.ActionLink(Model.OrderProductAddressProductionDate.ProductionDate.ToShortDateString(),
                    nameof(OrderProductAddressProductionDatesController.Details),
                    nameof(OrderProductAddressProductionDatesController).Replace("Controller", ""),
                    new
                    {
                        orderId = Model.OrderProductAddressProductionDate.OrderProductAddress.OrderProduct.Order.Id,
                        productId = Model.OrderProductAddressProductionDate.OrderProductAddress.OrderProduct.Product.Id,
                        addressId = Model.OrderProductAddressProductionDate.OrderProductAddress.Address.Id,
                        productionDate = Model.OrderProductAddressProductionDate.ProductionDate
                    },
                    null)
            </li>
            <li class="active">
                @Model.Size.Name
            </li>
        </ol>

        <p>
            @Html.ActionLink("Редактировать",
                nameof(OrderProductAddressProductionDateSizesController.Edit),
                new
                {
                    orderId = Model.OrderProductAddressProductionDate.OrderProductAddress.OrderProduct.Order.Id,
                    productId = Model.OrderProductAddressProductionDate.OrderProductAddress.OrderProduct.Product.Id,
                    addressId = Model.OrderProductAddressProductionDate.OrderProductAddress.Address.Id,
                    productionDate = Model.OrderProductAddressProductionDate.ProductionDate,
                    sizeId = Model.Size.Id
                })
        </p>

        <hr />

        <div class="form-horizontal">

            <div class="form-group">
                @Html.LabelFor(model => model.OrderProductAddressProductionDate.OrderProductAddress.OrderProduct.Order, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OrderProductAddressProductionDate.OrderProductAddress.OrderProduct.Order.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OrderProductAddressProductionDate.OrderProductAddress.OrderProduct.Product, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OrderProductAddressProductionDate.OrderProductAddress.OrderProduct.Product.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OrderProductAddressProductionDate.OrderProductAddress.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OrderProductAddressProductionDate.OrderProductAddress.Address.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OrderProductAddressProductionDate.ProductionDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OrderProductAddressProductionDate.ProductionDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Size, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Size.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

        </div>
    </div>
</div>
