@model WebApp.UI.ViewModels.ReportViewModels.OrdersReportViewModel
@using WebApp.UI.Controllers

<div class="row">
    <div class="col-md-12">
        <div class="form-horizontal">

            <div class="form-group">
                @Html.LabelFor(model => model.SelectedProductId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @Model.Products[Model.SelectedProductId]
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            @foreach (var product in Model.Products)
                            {
                                <li>
                                    <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#orders"
                                       href="@Url.Action(nameof(OrdersReportController._Orders), new { productId = product.Key })">
                                        @product.Value
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            @if (Model.OrderProductAddresses.Any())
            {

            }

            <div class="form-group">
                @Html.Label("Заказы", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @if (Model.OrderProductAddresses.Any())
                    {
                        var orders = Model.OrderProductAddresses.GroupBy(opa => opa.OrderId);

                        if (orders.Any())
                        {
                            var orderIndex = 0;

                            foreach (var order in orders)
                            {
                                orderIndex++;

                                <table class="table table-condensed table-bordered">
                                    <tr class="active">
                                        <th>
                                            @orderIndex. @Model.Orders[order.Key]
                                        </th>
                                    </tr>
                                </table>

                                <div class="form-group">
                                    @Html.Label("Продукция", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">

                                        @{
                                            var products = order.GroupBy(o => o.ProductId);

                                            if (products.Any())
                                            {
                                                var productIndex = 0;

                                                foreach (var product in products)
                                                {
                                                    productIndex++;

                                                    <table class="table table-condensed table-bordered">
                                                        <tr class="active">
                                                            <th>
                                                                @productIndex. @Model.Products[product.Key]
                                                            </th>
                                                        </tr>
                                                    </table>

                                                    <div class="form-group">
                                                        @Html.Label("Грузополучатели", htmlAttributes: new { @class = "control-label col-md-2" })
                                                        <div class="col-md-10">

                                                            @{
                                                                var addresses = product.GroupBy(p => p.AddressId);

                                                                <table class="table table-condensed table-bordered">
                                                                    <tr class="active">
                                                                        <th>Наименование</th>
                                                                        <th>Дата поставки</th>
                                                                        <th>Количество</th>
                                                                        <th>Сумма</th>
                                                                    </tr>

                                                                    @if (addresses.Any())
                                                                    {
                                                                        foreach (var address in addresses)
                                                                        {
                                                                            var orderProduct = Model.OrderProducts.Single(opa => opa.OrderId == order.Key && opa.ProductId == product.Key);
                                                                            var orderProductAddress = Model.OrderProductAddresses.Single(opa => opa.OrderId == order.Key && opa.ProductId == product.Key && opa.AddressId == address.Key);

                                                                            <tr>
                                                                                <td>
                                                                                    @Model.Addresses[address.Key]
                                                                                </td>
                                                                                <td>
                                                                                    @orderProductAddress.DeliveryDate.ToShortDateString()
                                                                                </td>
                                                                                <td>
                                                                                    @orderProductAddress.OrderProductAddressSizes.Sum(opas => opas.Quantity)
                                                                                </td>
                                                                                <td>
                                                                                    @orderProductAddress.OrderProductAddressSizes.Sum(opas => opas.Quantity * orderProduct.Price)
                                                                                </td>
                                                                            </tr>
                                                                        }

                                                                        <tr class="active">
                                                                            <th>
                                                                                Всего: @addresses.Count()
                                                                            </th>
                                                                            <th></th>
                                                                            <th>
                                                                                @addresses.Sum(address => address.Sum(opa => opa.OrderProductAddressSizes.Sum(s => s.Quantity)))
                                                                            </th>
                                                                            <th>
                                                                                @addresses.Sum(address => address.Sum(opa => opa.OrderProductAddressSizes.Sum(s => s.OrderProductAddress.OrderProduct.Price * s.Quantity)))
                                                                            </th>
                                                                        </tr>
                                                                    }
                                                                    else
                                                                    {
                                                                        <tr class="active">
                                                                            <td colspan="4">Нет грузополучателей</td>
                                                                        </tr>
                                                                    }

                                                                </table>
                                                            }

                                                        </div>
                                                    </div>
                                                }

                                                <table class="table table-condensed table-bordered">
                                                    <tr class="active">
                                                        <th>Всего</th>
                                                    </tr>
                                                    <tr class="active">
                                                        <th>
                                                            Сумма: @order.SelectMany(opa => opa.OrderProductAddressSizes).Sum(oaps => oaps.OrderProductAddress.OrderProduct.Price * oaps.Quantity)
                                                        </th>
                                                    </tr>
                                                </table>
                                            }
                                        }

                                    </div>
                                </div>
                            }
                        }
                    }
                    else
                    {
                        <table class="table table-condensed table-bordered">
                            <tr class="active">
                                <td>Нет заказов</td>
                            </tr>
                        </table>
                    }

                </div>
            </div>

        </div>
    </div>
</div>
